==
<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <h3>Latest Tweets</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="footer-col col-md-4">
                <h3>Follow me</h3>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/pages/Leo-Qwest/521662227970668?ref=hl" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LeoQwest" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/leo-qwest" class="btn-social btn-outline"><i class="fa fa-fw fa-soundcloud"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=yP1EOLrHhjo" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-col col-md-4">
                <h3>Newsletter Signup</h3>
                <form name="sentMessage" id="contactForm" validate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg">Send</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; 2015 Leo Qwest. All Rights Reserved.
            </div>
        </div>
    </div>
</div>