[carousel]
id = "1"
==
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% component 'carousel' %}
            <div class="intro-text">
                <span class="name">Leo Qwest</span>
                <hr class="star-light">
                <p>Leo Qwest is a British vocalist and music producer. In March 2015, Leo Qwest released a video for a track called Being Myself.</p>
                <p>Infusing Indie Brit pop with Electronic and soul. Experimental and smooth Leo Qwest’s production takes you on a journey to the edge of the universe.                         Complimented by sharp melodic vocals that open up a door to the world of the dreamer. </p>
                <br />
                <p>Leo Qwest describes his sound as being <strong>“music for the dreamers”</strong>.</p>
                <br />
                <p>Having experienced performing internationally, Leo Qwest went on to develop a sound that is simply “Leo Qwest”</p>
                <p>Currently, Leo Qwest’s distinctive sound is accessible via Soundcloud. In 2015, Leo Qwest launched www.leoqwest.com acting as a hub for fans to keep up with                 forthcoming shows, music and videos.</p>
            </div>
        </div>
    </div>
</div>